<?xml version="1.0" encoding="utf-8"?>

<Server port="8005"
        shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
  <Listener className="org.apache.catalina.core.AprLifecycleListener"
            SSLEngine="on"/>
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

  <Service name="Catalina">

    <Connector port="8080"
               maxThreads="200"
               minSpareThreads="10"
               connectionTimeout="20000"
               enableLookups="false"
               protocol="HTTP/1.1"
               redirectPort="8443"
               acceptCount="10"
               secure="false"
               scheme="https"
               proxyName="jira-rh1-manual.apps.rh1-manual.w4p5.p1.openshiftapps.com"
               proxyPort="443"

               relaxedPathChars="[]|"
               relaxedQueryChars="[]|{}^\`&quot;&lt;&gt;"
               bindOnInit="false"
               maxHttpHeaderSize="8192"
               useBodyEncodingForURI="true"
               disableUploadTimeout="true" />

    <Engine name="Catalina"
            defaultHost="localhost">
            
      <Host name="localhost"
            appBase="webapps"
            unpackWARs="true"
            autoDeploy="true">

        <Context path=""
                 docBase="${catalina.home}/atlassian-jira"
                 reloadable="false"
                 useHttpOnly="true">
          <Resource name="UserTransaction"
                    auth="Container"
                    type="javax.transaction.UserTransaction"
                    factory="org.objectweb.jotm.UserTransactionFactory"
                    jotm.timeout="60"/>
          <Manager pathname=""/>
          <JarScanner scanManifest="false"/>
          <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve"
                 threshold="120" />
        </Context>

      </Host>
      <Valve className="org.apache.catalina.valves.AccessLogValve"
             pattern="%a %{jira.request.id}r %{jira.request.username}r %t &quot;%m %U%q %H&quot; %s %b %D &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot; &quot;%{jira.request.assession.id}r&quot;"/>
    </Engine>
<!-- JBoss CAS SSO:START - CAS client configuration -->
                    <Environment description="URL of JIRA to be used as service identification on CAS server" name="cas/serverName" override="false" type="java.lang.String" value="https://jira-rh1-manual.apps.rh1-manual.w4p5.p1.openshiftapps.com"/>
                   <Environment description="Base URL for CAS server" name="cas/casServerUrlPrefix" override="false" type="java.lang.String" value="https://sso.stage.jboss.org"/>
                   <Environment description="Login URL for CAS server" name="cas/casServerLoginUrl" override="false" type="java.lang.String" value="https://sso.stage.jboss.org/login"/>
                    <!-- JBoss CAS SSO:END -->    
 
<!-- JBoss CAS SSO:START - REST API authentication configuration -->
                    <Environment description="Token endpoint REST service URL" name="restauth/tokenServiceUrl" type="java.lang.String" value="https://sso.stage.jboss.org/rest/openid-connect/token" />
                    <Environment description="UserInfo endpoint REST service URL base" name="restauth/userInfoServiceUrl" type="java.lang.String" value="https://sso.stage.jboss.org/rest/userinfo/" />
                    <Environment description="REST service client id" name="restauth/clientId" type="java.lang.String" value="UBIK" />
                    <Environment description="REST service client key" name="restauth/clientKey" type="java.lang.String" value="ubik_is_everywhere" />
                    <Environment description="REST service connection timeout" name="restauth/connectionTimeout" type="java.lang.Integer" value="20" />
                    <Environment description="REST service socket timeout" name="restauth/socketTimeout" type="java.lang.Integer" value="20" />
                    <!-- JBoss CAS SSO:END - REST API authentication configuration -->        
 
<!-- JBoss CAS SSO:START - links for user profile -->
                    <Environment description="Link URL for SSO user profile page where user can change password" name="userprofile/ssoPasswordEditLink" type="java.lang.String" value="https://sso.stage.redhat.com/auth/realms/redhat-external/account" />
                    <!--                     JBoss CAS SSO:END - links for user profile -->
  </Service>
</Server>
